/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.bold-text {
    font-weight: 700;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }
}

main {
    margin: 3.625em 0;
}

img {
    width:  100%;
}

/* =================
Navigation
================= */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}


@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}

/* =================
Links
================= */

a {
    color: #1792d2;
}

/* =================
Blog Post
================= */

.blog-post {
    margin-top: 1.5em;
}

.blog-post-img {
}

.blog-post-header {
    font-family: 'Lora', sans-serif;
    font-size: 1.5em;
    line-height: 1.167em;
    color: #143774;
    margin-top: 0;
}

.blog-post-info {
    font-family: 'Lora', sans-serif;
    font-size: 0.875rem;
    line-height: 1.36em;
    color: #707070;
}

.blog-post-text {
    font-size: 1.125rem;
    line-height: 1.55em;
    color: #707070;
}

.blog-post-link {
    font-size: 0.875rem;
    line-height: 1.55em;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #1792d2;
    text-decoration: none;
}

.blog-post-featured {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #707070;
}

.blog-post-recent {
    margin-bottom: 3.25em;
}


@media (min-width: 550px) and (max-width: 675px) {
    .blog-post-recent .blog-post-info {
        text-align: right;
}

    .blog-post-recent .blog-post-main {
        margin-top: -2.5em;
    }
}

@media (min-width: 675px) {
    .blog-post-recent {
        display: flex;
    }  
}

/* =================
Sidebar
================= */

.main-sidebar > * {
    border: 20px solid #ebebeb;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-wrapper {
    width: 90%;
    margin: 3.875em 0 1em;
}

.about-me-wrapper p {
    color: #143774;
}

.about-me img {
    width: 100%;
    height: 133px;
    object-fit: cover;
    object-position: 50% 50%;
}

.recent-posts-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-posts-sidebar img {
    width: 100%;
    height: 87px;
    object-fit: cover;
    object-position: 50% 50%;
}

.recent-posts-sidebar-wrapper {
    width: 90%;
}

.recent-posts-sidebar-wrapper > h2 {
    font-size: 1.125rem;
    line-height: 1.33em;
    color: #143774;
    text-transform: uppercase;
}

.recent-posts-sidebar-item {
    margin: 1.344em 0;
}

.recent-posts-sidebar-item h2 {
    font-family: 'Lora', sans-serif;
    font-size: 1.125rem;
    line-height: 1.55em;
    color: #143774;
    font-weight: 400;
}

.recent-posts-sidebar-rule {
    width: 100%;
    border-bottom: 1px solid #707070;
    opacity: 0.5;
}

/* =================
Footer
================= */

footer {
    background:  #143774;
}

footer p {
    margin: 0;
}

.footer-wrapper {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.55em;
    color: #fff;
    opacity: 0.54;
    padding: 3.33em 0;
}